form,h3{
  text-align: center;
  margin:210px;
  padding: 20px;
  margin-left: 525px;
  margin-right: 525px;
  border-style: solid;
  border-color: rgb(34, 26, 26);
  background-color: rgb(230, 238, 238);
}
body{
  background-image: url(7.jpg);
  background-size:100% 100%;
  
}
input[type=submit]
{
  font-weight: bold;
  
}